# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "KAI REN | Homepage"
title_separator          : "-"
name                     : &name "KAI REN"
description              : &description "KAI REN's academic homepage at Kyoto University"

url                      : https://adamrek.github.io
baseurl                  : ""
repository               : "adamrek/adamrek.github.io"

# Site Author
author:
  avatar           : "profile.jpg"
  name             : "KAI REN"
  pronouns         :
  bio              : "Ph.D. student at Kyoto University (IST). Research interests include EMG signal analysis, deep learning, and human-computer interaction"
  location         : "Kyoto, Japan"
  employer         : "Kyoto University"
  uri              :
  email            : "ren.kai.34k@st.kyoto-u.ac.jp"

  # Academic websites
  academia         :
  arxiv            :
  googlescholar    :
  inspire-hep      :
  impactstory      :
  orcid            :
  semantic         :
  ssrn             :
  pubmed           :
  researchgate     :
  scopus           :
  zotero           :

  # Repositories and software development
  bitbucket        :
  codepen          :
  dribbble         :
  github           : "adamrek"
  kaggle           :
  stackoverflow    :

  # Social media
  artstation       :
  bluesky          :
  facebook         :
  flickr           :
  foursquare       :
  goodreads        :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         :
  mastodon         :
  medium           :
  pinterest        :
  soundcloud       :
  steam            :
  telegram         :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  wikipedia        :
  xing             :
  youtube          :
  zhihu            :

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

atom_feed:
  hide                   : true
  path                   :

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :
og_description           :
social:
  type                   : Person
  name                   : "Kairen"
  links                  :

# Analytics
analytics:
  provider               : "false"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - .bundle
  - .github
  - vendor
  - node_modules
  - README
  - LICENSE
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  toc_levels: 1..6

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  research:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Asia/Tokyo


# Plugins
plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-redirect-from
  - jemoji